.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.flex {
    display: flex;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-end {
    justify-content: flex-end;
}

.col-100 {
    width: 100%;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}