{# footer.twig #}
<footer>
    <section class="footer__section">
        <div>
            <a href="mailto:overbeekjelle@gmail.com">overbeekjelle@gmail.com</a>
        </div>

        <div class="footer__social">
            <a class="footer__social-icon" href="//dribbble.com/jelleoverbeek">
                <img src="assets/img/dribbble.svg">
            </a>
            <a class="footer__social-icon" href="//github.com/jelleoverbeek">
                <img src="assets/img/github.svg">
            </a>
            <a class="footer__social-icon" href="//twitter.com/jelleoverbeek">
                <img src="assets/img/twitter.svg">
            </a>
            <a class="footer__social-icon" href="//www.linkedin.com/in/jelle-overbeek-a595b246/">
                <img src="assets/img/linkedin.svg">
            </a>
        </div>
    </section>
</footer>