{# nav.twig #}
<nav>
    <section>
        <ul class="navigation">
            <li><a href="index.html" {% if title == "Work" %}class="active"{% endif %}>Work</a></li>
            {#<li><a href="about.html" {% if title == "About" %}class="active"{% endif %}>About</a></li>#}
            <li><a href="contact.html" {% if title == "Contact" %}class="active"{% endif %}>Contact</a></li>
        </ul>
    </section>
</nav>