* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto", Arial, sans-serif;
    color: map_get($colors, black)
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: rem(36);
    font-weight: 500;
    margin-bottom: rem(24);
}

h2 {
    font-size: rem(28);
    font-weight: 500;
    margin-top: rem(32);
}

h3 {
    font-size: rem(24);
    font-weight: 500;
}

h4 {

}

h5 {

}

h6 {

}

p {
    margin: 0;
    max-width: rem(760);
    font-size: rem(20);
    line-height: 1.7;
    color: #727b84;

    & + p {
        margin-top: rem(8);
    }
}

.paragraph-intro {
    font-size: rem(20);
}

h2, h3, h4, h5, h6 {
    margin-bottom: rem(0);

    & + p, & + ul, & + ol {
        margin-top: rem(8);
    }
}

ul, ol {
    margin: 0;
    padding: 0 0 0 rem(16);

    & + p {
        margin-top: rem(16);
    }
}

a {
    color: map_get($colors, blue);
    text-decoration: none;

    @include transition();

    &:hover,
    &:focus {
        color: darken(map_get($colors, blue), 5%);
    }

    &.active,
    &.disabled {
        color: map_get($colors, black);
    }
}



img {
    max-width: 100%;
    height: auto;
}

.avatar {
    border-radius: rem(180);
}

section {
    max-width: map_get($container-widths, default);
    margin: 0 auto;

    @include max-tablet-landscape() {
        padding: 0 rem(32);
    }

    @include max-tablet-portrait() {
        padding: 0 rem(24);
    }

}