.case-wrapper {
    max-width: none;
    margin-top: rem(102);
}

.case {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(126) rem(32);
    border-top: map_get($borders, default);
}

.case--mobile {
    .case__preview {
        max-width: rem(320);
    }
}

.case__preview {
    border-radius: map_get($border-radius, default);
    box-shadow: 0 rem(2) rem(24) 0 rgba(17,26,34,0.15);
}

.case__content {
    display: flex;
    flex-direction: column;
    width: rem(360);
    margin-left: rem(56);
    line-height: 1.4;
    font-size: rem(20);
}