.case-nav {
    display: flex;
    font-size: rem(20);
    margin-top: rem(128);

    @include max-tablet-portrait() {
        margin-top: rem(80);
    }

}

.case-nav__next {
    margin-left: auto;
}

.case-nav__previous {
    margin-right: auto;
}