nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: #FFFFFF;
    border-bottom: map_get($borders, default);
    box-shadow: map_get($shadows, default);
    padding: rem(16) 0;
    font-size: rem(18);

    & + section {
        margin-top: rem(72);
    }
}

p + .navigation {
    margin-top: rem(24);
}

.navigation {
    list-style: none;
    display: flex;
    padding: 0;

    li {
        margin-right: rem(24);
        white-space: nowrap;

        &:last-child {
            margin-right: 0;
        }
    }

    @include max-mobile() {
        flex-direction: row;
        flex-wrap: wrap;

        li {
            margin-top: rem(0);
        }
    }
}

.navigation--big {
    font-size: rem(20);

    li {
        margin-right: rem(32);

        &:last-child {
            margin-right: 0;
        }
    }
}