$path-color: #D8E0E5;

.timeline {
    margin-top: rem(126);
    display: flex;
    justify-content: center;
}

.timeline__col {
    width: calc(50% - 24px);
    display: flex;
    position: relative;
}

.timeline-item {
    position: absolute;
    top: 0;
    width: rem(210);
    text-align: center;
}

.invisible {
    opacity: 0.3;
}

.timeline-item__text {
    margin-top: rem(8);
    font-size: rem(16);
    line-height: 1.5;
    color: map_get($colors, black);
}

.timeline-item__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: rem(250);
    width: rem(80);
    height: rem(80);
    border: rem(2) solid $path-color;
}

.timeline-path {
    display: flex;
    width: rem(48);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: rem(18);
}

.timeline-path__start {

    &:after {
        margin: rem(8) auto;
        content: " ";
        display: block;
        width: rem(8);
        height: rem(8);
        border-radius: rem(8);
        background-color: $path-color;
    }
}

.timeline-path__year {
    margin-bottom: rem(8);

    &::before {
        content: " ";
        display: block;
        height: rem(208);
        width: rem(2);
        margin: 0 auto rem(8) auto;
        background-image: repeating-linear-gradient(
                        180deg,
                        $path-color rem(0),
                        $path-color rem(4),
                        transparent rem(4),
                        transparent rem(8));
    }
}