{# index.twig #}
{% extends "components/_layout.twig" %}

{% block page %}

    <section>
        <h1>About</h1>

        <div class="flex col-100">
            <div class="col-70">
                <p>I’m Jelle Overbeek, a designer and front-end developer from the Netherlands. Currently I’m working for Recognize and studying Communication and Multimedia Design at the Amsterdam University of Applied Sciences.</p>
            </div>
            <div class="col-30 align-center">
                <img src="assets/img/avatar.png" srcset="assets/img/avatar.png 1x, assets/img/avatar@2x.png 2x" class="avatar">
            </div>
        </div>

        <div class="timeline">
            <div class="timeline__col">
                <div class="timeline-item" data-year-start="2017" data-year-end="2018">
                    <div class="timeline-item__icon"><img src="assets/img/design.svg"></div>
                    <p class="timeline-item__text">Start 2017 - end now</p>
                </div>
                <div class="timeline-item" data-year-start="2017" data-year-end="2016">
                    <div class="timeline-item__icon"><img src="assets/img/design.svg"></div>
                    <p class="timeline-item__text">Start 2017 - end 2016</p>
                </div>
            </div>
            <div class="timeline__col timeline-path">
                <div class="timeline-path__start">Now</div>
                <div class="timeline-path__year" data-year="2018">2018</div>
                <div class="timeline-path__year" data-year="2017">2017</div>
                <div class="timeline-path__year" data-year="2016">2016</div>
                <div class="timeline-path__year" data-year="2015">2015</div>
                <div class="timeline-path__year" data-year="2014">2014</div>
                <div class="timeline-path__year" data-year="2013">2013</div>
                <div class="timeline-path__year" data-year="2012">2012</div>
                <div class="timeline-path__year" data-year="2011">2011</div>
            </div>
            <div class="timeline__col">
                <div class="timeline-item" data-year-start="2015" data-year-end="2017">
                    <div class="timeline-item__icon"><img src="assets/img/design.svg"></div>
                    <p class="timeline-item__text">Start 2015 - end 2017</p>
                </div>
                <div class="timeline-item" data-year-start="2014" data-year-end="2015">
                    <div class="timeline-item__icon"><img src="assets/img/design.svg"></div>
                    <p class="timeline-item__text">Start 2014 - end 2015</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}