{# index.twig #}
{% extends "components/_layout.twig" %}

{% block page %}

    <section>
        <h1>About</h1>

        <div class="flex col-100">
            <div class="col-70">
                <p>I’m Jelle Overbeek, a designer and front-end developer from the Netherlands. Currently I’m working for Recognize and studying Communication and Multimedia Design at the Amsterdam University of Applied Sciences.</p>
            </div>
            <div class="col-30 align-center">
                <img src="assets/img/avatar.png" srcset="assets/img/avatar.png 1x, assets/img/avatar@2x.png 2x" class="avatar">
            </div>
        </div>

        <div class="timeline">
            <div class="timeline__col">
                <div class="timeline-item">
                    <div class="timeline-item__icon" ><img src="assets/img/design.svg"></div>
                    <p class="timeline-item__text">Designer and front-end developer at Recognize</p>
                </div>
                <div class="timeline-item">
                    <div class="timeline-item__icon" ><img src="assets/img/design.svg"></div>
                    <p class="timeline-item__text">Designer and front-end developer at Recognize</p>
                </div>
            </div>
            <div class="timeline__col">
                <div class="timeline-path">
                    <div class="timeline-path__start">Now</div>
                    <div class="timeline-path__year">2018</div>
                    <div class="timeline-path__year">2017</div>
                </div>
            </div>
            <div class="timeline__col">
                <div class="timeline-item">
                    <div class="timeline-item__icon" ><img src="assets/img/design.svg"></div>
                    <p class="timeline-item__text">Designer and front-end developer at Recognize</p>
                </div>
                <div class="timeline-item">
                    <div class="timeline-item__icon" ><img src="assets/img/design.svg"></div>
                    <p class="timeline-item__text">Designer and front-end developer at Recognize</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}