{# case-detail.twig #}
{% extends "components/_layout.twig" %}

{% block page %}

<section>
    <h1>SpaceRace</h1>

    <h2>The case</h2>
    <p class="paragraph-intro">This was an app I created together with two friends. The goal of this project was to create an app that decreases distraction that is caused by all the apps we use everyday. We made a “game” that the user can play by keeping his phone locked or on the game screen. Leaving the app causes the whole team to lose points.</p>

    <ul class="navigation navigation--big">
        <li><a href="#work">Check out the prototype</a></li>
    </ul>

    <article class="case case--detail case--mobile">
        <video class="case__preview" src="assets/video/spacerace.mp4" loop>
            <img class="case__preview" src="assets/img/cases/spacerace.png" srcset="assets/img/cases/spacerace.png 1x, assets/img/cases/spacerace@2x.png 2x">
        </video>
        <div class="case__content">
            <h3>Customizing the ship</h3>
            <p>The users can customize their ship in exchange for tokens. Tokens can be earned by getting work done.</p>
        </div>
    </article>

    <article class="case case--detail case--mobile">
        <img class="case__preview" src="assets/img/cases/spacerace.png" srcset="assets/img/cases/spacerace.png 1x, assets/img/cases/spacerace@2x.png 2x">
        <div class="case__content">
            <h3>Setting the focus time</h3>
            <p>The focus time can be set using this themed slide. To nudge the user that this element contains interaction I added a small animation.</p>
        </div>
    </article>

    <article class="case case--detail case--mobile">
        <img class="case__preview" src="assets/img/cases/spacerace.png" srcset="assets/img/cases/spacerace.png 1x, assets/img/cases/spacerace@2x.png 2x">
        <div class="case__content">
            <h3>"Playing" together</h3>
            <p>Inviting can be done using a link or using the friend list feature.</p>
        </div>
    </article>

    <article class="case case--detail case--mobile">
        <img class="case__preview" src="assets/img/cases/spacerace.png" srcset="assets/img/cases/spacerace.png 1x, assets/img/cases/spacerace@2x.png 2x">
        <div class="case__content">
            <h3>Rewards</h3>
            <p>After completing a session the user gets the earned tokens. If the user did very well, there is also a possibility that the user gets a random reward.</p>
        </div>
    </article>
</section>

<section class="case-prototype">
    <h2>The prototype</h2>
    <p>Wanna try out the app yourself? Check out the Framer prototype.</p>
    <a class="button" href="#">Prototype</a>
</section>

{% endblock %}