{# index.twig #}
{% extends "components/_layout.twig" %}
{% set title = 'Contact' %}

{% block page %}

    <section>
        <h1>Contact</h1>
        <p>You can contact me by <a href="mailto:overbeekjelle@gmail.com">email</a>, and <a href="//twitter.com/jelleoverbeek">Twitter</a>.</p>
    </section>

{% endblock %}