{# case-detail.twig #}
{% extends "components/_layout.twig" %}
{% set title = "IMDb" %}

{% block page %}

<section>
    <h1>IMDb redesign</h1>
    <p class="paragraph-intro">
        VolkerWessels is a big company with many subsidiary companies, all these companies have data that VolkerWessels needs to collect to make a complete CSR report. It turns out that it is a hard challenge to collect and manage all this data. To make this an automated process we are building a platform where all the subsidiary companies can fill in their data.
    </p>

    <ul class="navigation navigation--big">
        <li><a href="//framer.cloud/AZmcA/" target="_blank">Check out the prototype</a></li>
    </ul>

    <article class="case case--detail">
        <video class="case__preview" src="assets/video/cases/imdb.mp4" autoplay loop>
            <img class="case__preview" src="assets/img/cases/imdb.png" srcset="assets/img/cases/imdb.png 1x, assets/img/cases/imdb@2x.png 2x">
        </video>
        <div class="case__content">
            <h3>Exploring movies</h3>
            <p>The primary focus is on exploring movies. Hovering over a movie poster will show the trailer and a quick icon to add it to your watchlist.</p>
        </div>
    </article>

    <article class="case case--detail">
        <video class="case__preview" src="assets/video/cases/imdb_sidescroll.mp4" autoplay loop>
            <img class="case__preview" src="assets/img/cases/imdb.png" srcset="assets/img/cases/imdb.png 1x, assets/img/cases/imdb@2x.png 2x">
        </video>
        <div class="case__content">
            <h3>More movies to explore</h3>
            <p>To load more movies I used a pattern that a lot of users will recognize from, for example, Netflix.</p>
        </div>c
    </article>

    <article class="case case--detail">
        <video class="case__preview" src="assets/video/cases/imdb_addfavs.mp4" autoplay loop>
            <img class="case__preview" src="assets/img/cases/imdb.png" srcset="assets/img/cases/imdb.png 1x, assets/img/cases/imdb@2x.png 2x">
        </video>
        <div class="case__content">
            <h3>Watchlist</h3>
            <p>The watchlist feature is more obvious and discoverable in the new design. It should be available wherever a movie title or poster is displayed.</p>
        </div>
    </article>
</section>

<section class="case-prototype" id="prototype">
    <h2>Prototype</h2>
    <p>This project was the first time I used Framer as my prototyping tool.</p>
    <a class="button" href="#">Bring me there</a>
</section>

{% endblock %}