{# case-detail.twig #}
{% extends "components/_layout.twig" %}
{% set title = "IMDb" %}

{% block page %}

<section>
    <h1>IMDb redesign</h1>
    <p>As design and prototyping exercise I decided to make a redesign of the current IMDb homepage. As this exercise was mostly for fun I took myself as persona.</p>

    <ul class="navigation navigation--big">
        <li><a href="#prototype">Check out the prototype</a></li>
    </ul>

    <article class="case case--detail">
        <video class="case__preview" src="assets/cases/imdb/imdb.mp4" autoplay loop>
            <img class="case__preview" src="assets/cases/imdb/imdb.png" srcset="assets/cases/imdb/imdb.png 1x, assets/cases/imdb/imdb@2x.png 2x">
        </video>
        <div class="case__content">
            <h3>Exploring movies</h3>
            <p>The primary focus is on exploring movies. Hovering over a movie poster will show the trailer and a quick icon to add it to your watchlist.</p>
        </div>
    </article>

    <article class="case case--detail">
        <video class="case__preview" src="assets/cases/imdb/imdb_sidescroll.mp4" autoplay loop>
            <img class="case__preview" src="assets/cases/imdb/imdb.png" srcset="assets/cases/imdb/imdb.png 1x, assets/cases/imdb/imdb@2x.png 2x">
        </video>
        <div class="case__content">
            <h3>More movies to explore</h3>
            <p>To load more movies I used a pattern that a lot of users will recognize from, for example, Netflix.</p>
        </div>
    </article>

    <article class="case case--detail">
        <video class="case__preview" src="assets/cases/imdb/imdb_addfavs.mp4" autoplay loop>
            <img class="case__preview" src="assets/cases/imdb/imdb.png" srcset="assets/cases/imdb/imdb.png 1x, assets/cases/imdb/imdb@2x.png 2x">
        </video>
        <div class="case__content">
            <h3>Watchlist</h3>
            <p>The watchlist feature is more obvious and discoverable in the new design. It should be available wherever a movie title or poster is displayed.</p>
        </div>
    </article>
</section>

<section class="section--outro" id="prototype">
    <h2>Prototype</h2>
    <p>Check out the full design as Framer prototype</p>
    <a class="button" href="https://framer.cloud/AZmcA/">Show me!</a>
</section>

{% endblock %}