{# index.twig #}
{% extends "components/_layout.twig" %}
{% set title = "Work" %}

{% block page %}

<section>
    <h1>Hi!</h1>

    <div class="flex col-100">
        <div class="col-70">
            <p class="paragraph-intro">I’m Jelle Overbeek, a designer and front-end developer from the Netherlands. Currently I’m working for Recognize and studying Communication and Multimedia Design at the Amsterdam University of Applied Sciences.</p>
            <ul class="navigation navigation--big">
                <li><a href="#work">My work</a></li>
                {#<li><a href="about.html">More about me</a></li>#}
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="col-30 align-center">
            <img src="assets/img/avatar.png" srcset="assets/img/avatar.png 1x, assets/img/avatar@2x.png 2x" class="avatar">
        </div>
    </div>
</section>

<section class="case-wrapper" id="work">

    <article class="case case--mobile">
        <video class="case__preview" src="assets/video/cases/spacerace.mp4" autoplay loop>
            <img class="case__preview" src="assets/img/cases/spacerace.png" srcset="assets/img/cases/spacerace.png 1x, assets/img/cases/spacerace@2x.png 2x">
        </video>
        <div class="case__content">
            <h2>SpaceRace</h2>
            <p>An app that decreases distraction in a playfull way.</p>
            <ul class="navigation">
                <li><a href="spacerace.html">The case</a></li>
                <li><a href="spacerace.html#prototype">Prototype</a></li>
            </ul>
        </div>
    </article>

    <article class="case">
        <video class="case__preview" src="assets/video/cases/imdb.mp4" autoplay loop>
            <img class="case__preview" src="assets/img/cases/imdb.png" srcset="assets/img/cases/imdb.png 1x, assets/img/cases/imdb@2x.png 2x">
        </video>
        <div class="case__content">
            <h2>IMDb</h2>
            <p>Unofficial IMDb redesign for fun.</p>
            <ul class="navigation">
                <li><a href="imdb.html">The case</a></li>
                <li><a href="imdb.html#prototype">Prototype</a></li>
            </ul>
        </div>
    </article>

    <article class="case">
        <img class="case__preview" src="assets/img/cases/csr.png" srcset="assets/img/cases/csr.png 1x, assets/img/cases/csr@2x.png 2x">
        <div class="case__content">
            <h2>CSR Report platform</h2>
            <p>Back-end for a construction site information app.</p>
            <ul class="navigation">
                <li><a href="#case">The case</a></li>
                <li><a href="#prototype">The prototype</a></li>
            </ul>
        </div>
    </article>

    <article class="case">
        <img class="case__preview" src="assets/img/cases/bouwapp.png" srcset="assets/img/cases/bouwapp.png 1x, assets/img/cases/bouwapp@2x.png 2x">
        <div class="case__content">
            <h2>BouwApp Portal</h2>
            <p>Back-end for a construction site information app.</p>
            <ul class="navigation">
                <li><a href="#case">The case</a></li>
                <li><a href="#prototype">The prototype</a></li>
            </ul>
        </div>
    </article>

</section>

{% endblock %}