{# index.twig #}
{% extends "_layout.twig" %}
{% set title = 'Home' %}

{% block page %}

    <section>
        <h1>Hi!</h1>
        <p class="paragraph-big">
            I’m Jelle Overbeek, a designer and front-end developer from the Netherlands. Currently I’m working for Recognize and studying Communication and Multimedia Design at the Amsterdam University of Applied Sciences.
        </p>

    </section>

{% endblock %}