{# index.twig #}
{% extends "components/_layout.twig" %}
{% set title = "Portfolio" %}

{% block page %}

<section>
    <h1>Hi!</h1>

    <div class="flex col-100">
        <div class="col-70">
            <p>I’m Jelle Overbeek, a designer and front-end developer from the Netherlands. Currently I’m working for Recognize and studying Communication and Multimedia Design at the Amsterdam University of Applied Sciences.</p>
            <ul class="navigation navigation--big">
                <li><a href="#work">My work</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

        <div class="col-30 align-center">
            <img src="/assets/img/avatar.png" srcset="/assets/img/avatar.png 1x, /assets/img/avatar@2x.png 2x" class="avatar">
        </div>
    </div>
</section>

<section class="case-wrapper" id="work">

    <article class="case case--mobile">
        <a href="/spacerace" class="case__preview">
            <video src="/assets/cases/spacerace/spacerace.mp4" poster="/assets/cases/spacerace/spacerace@2x.png" muted webkit-playsinline playsinline loop>
                <img src="/assets/cases/spacerace/spacerace.png" srcset="/assets/cases/spacerace/spacerace.png 1x, /assets/cases/spacerace/spacerace@2x.png 2x">
            </video>
        </a>
        <div class="case__content">
            <h2>SpaceRace</h2>
            <p>An app that decreases distraction in a playfull way.</p>
            <ul class="navigation">
                <li><a href="/spacerace">The case</a></li>
            </ul>
        </div>
    </article>

    <article class="case">
        <a href="/imdb" class="case__preview">
            <video src="/assets/cases/imdb/imdb.mp4" poster="/assets/cases/imdb/imdb@2x.png" muted webkit-playsinline playsinline loop>
                <img src="/assets/cases/imdb/imdb.png" srcset="/assets/cases/imdb/imdb.png 1x, /assets/cases/imdb/imdb@2x.png 2x">
            </video>
        </a>
        <div class="case__content">
            <h2>IMDb</h2>
            <p>Unofficial IMDb redesign for fun.</p>
            <ul class="navigation">
                <li><a href="/imdb">The case</a></li>
            </ul>
        </div>
    </article>

    <article class="case">
        <a href="/csr" class="case__preview">
            <img src="/assets/cases/csr/csr.png" srcset="/assets/cases/csr/csr.png 1x, /assets/cases/csr/csr@2x.png 2x">
        </a>
        <div class="case__content">
            <h2>CSR platform</h2>
            <p>Corporate Social Responsibility platform for large companies.</p>
            <ul class="navigation">
                <li><a href="/csr">The case</a></li>
            </ul>
        </div>
    </article>
</section>

<section class="section--outro section--contact" id="contact">
    <h1>Let's get in touch!</h1>
    <p>You can contact me by <a href="mailto:overbeekjelle@gmail.com">email</a>, and <a href="//twitter.com/jelleoverbeek">Twitter</a>.</p>
</section>

{% endblock %}