{# index.twig #}
{% extends "components/_layout.twig" %}
{% set title = "Links" %}

{% block head %}
    <meta name=”robots” content=”noindex,nofollow”/>
{% endblock %}

{% block page %}
    <section>
        <h1>Items</h1>
        <a href="https://framer.cloud/wkdqr" target="_blank"><h2>SpaceRace</h2></a>
        <a href="https://framer.cloud/AZmcA/" target="_blank"><h2>IMDb</h2></a>
        <a href="https://projects.invisionapp.com/share/63GKBECGZ97#/screens" target="_blank"><h2>CSR</h2></a>
        <a href="https://invis.io/8CGS4J9JF6W#/290407441_onboarding-Login-register" target="_blank"><h2>Distro Desktop</h2></a>
        <a href="https://invis.io/TJBS7L9M5#/234522461_Invite" target="_blank"><h2>Distro App</h2></a>
        <a href="https://invis.io/REBSJYD93#/234643701_1-1-0_Project_-algemeen-" target="_blank"><h2>BouwApp</h2></a>
        <a href="https://invis.io/MADIRSBBP#/253735278_1-0-0_-_My_Assets_-_Default" target="_blank"><h2>Hyrde</h2></a>
        <a href="https://invis.io/9XD6IWPRZ#/250000297_Devices" target="_blank"><h2>AgileXS</h2></a>
        <a href="https://lugarde-configurator.nl/" target="_blank"><h2>Lugarde</h2></a>
    </section>
{% endblock %}