{# case-detail.twig #}
{% extends "components/_layout.twig" %}
{% set title = "SpaceRace" %}

{% set caseNav  = {
    "previousText": false,
    "previousLink": false,
    "nextText": "IMDb redesign",
    "nextLink": "/imdb",
}%}

{% set case = {
    "title": "SpaceRace",
    "description": "This was an app I created together with two friends. The goal of this project was to create an app that decreases distraction. We made a “game” that the user can play by keeping his phone locked or on the game screen. Leaving the app will cause losing points.",
    "chapters": [{
        "title": "Customizing the ship",
        "description": "The users can customize their ship in exchange for tokens. Tokens can be earned by getting work done.",
        "img": "/assets/cases/spacerace/spacerace",
        "imgExtension": "png",
        "video": "/assets/cases/spacerace/spacerace",
        "vidExtensions": ["webm", "mp4"]
    }, {
        "title": "Setting the focus time",
        "description": "The focus time can be set using a themed slide. To nudge the user that this element contains interaction, I added a small animation to the handle.",
        "img": "/assets/cases/spacerace/spacerace_focustime",
        "imgExtension": "png",
        "video": "/assets/cases/spacerace/spacerace_focustime",
        "vidExtensions": ["webm", "mp4"]
    }, {
        "title": 'Playing" together',
        "description": "Inviting others can be done using a link or using the friendlist.",
        "img": "/assets/cases/spacerace/spacerace_addfriends",
        "imgExtension": "png",
        "video": "/assets/cases/spacerace/spacerace_addfriends",
        "vidExtensions": ["webm", "mp4"]
    }, {
        "title": "Rewards",
        "description": "After completing a session the user gets the earned tokens. If the user did very well, there is also a possibility that the user gets a random reward.",
        "img": "/assets/cases/spacerace/spacerace_reward",
        "imgExtension": "png",
        "video": "/assets/cases/spacerace/spacerace_reward",
        "vidExtensions": ["webm", "mp4"]
    }],
    "prototype": {
        "title": "Prototype",
        "text": 'The app is best viewed using the Framer Preview (<a href="https://itunes.apple.com/nl/app/framer-preview/id1124920547?mt=8">iOS</a> / <a href="https://play.google.com/store/apps/details?id=com.framerjs.android&hl=en">Android</a>) app',
        "link": "https://framer.cloud/wkdqr",
        "btnText": "Prototype"
    }
} %}

{% block page %}

{% include "components/_nav.twig" %}
{% include "components/_case.twig" with case %}
{% include "components/_case-nav.twig" with caseNav %}

{% endblock %}