{# work.twig #}
{% extends "components/_layout.twig" %}

{% block page %}

    <section>
        <h1>Work</h1>
        <ul class="navigation navigation--big">
            <li><a href="spacerace.html" class="active">SpaceRace</a></li>
            <li><a href="imdb.html">IMDb</a></li>
            <li><a href="csr-platform.html">CSR report platform</a></li>
            <li><a href="bouwapp.html">BouwApp portal</a></li>
        </ul>

        <article>
            <img src="https://via.placeholder.com/320x569" alt="SpaceRace image">
            <h2>SpaceRace</h2>
            <p class="paragraph-big">An app that decreases distraction in a playfull way.</p>

            <ul class="navigation">
                <li><a href="spacerace.html" class="active">SpaceRace</a></li>
                <li><a href="imdb.html">IMDb</a></li>
                <li><a href="csr-platform.html">CSR report platform</a></li>
                <li><a href="bouwapp.html">BouwApp portal</a></li>
            </ul>
        </article>
    </section>

{% endblock %}