{# work.twig #}
{% extends "components/_layout.twig" %}

{% block page %}

    <section>
        <article class="case case--mobile">
            <video class="case__preview" src="assets/video/spacerace.mp4" autoplay loop>
                <img class="case__preview" src="assets/img/cases/spacerace.png" srcset="assets/img/cases/spacerace.png 1x, assets/img/cases/spacerace@2x.png 2x">
            </video>
            <div class="case__content">
                <h2>SpaceRace</h2>
                <p>An app that decreases distraction in a playfull way.</p>
                <ul class="navigation">
                    <li><a href="#case">The case</a></li>
                    <li><a href="#prototype">The prototype</a></li>
                </ul>
            </div>
        </article>
    </section>

{% endblock %}